:root { 
  --light: #ffffff;
  --medium: #b8b8b8;
  --dank: #696969;
  --dark: #303030;
  --night: #121212;
  --green: #118C4F;
  --blue: #3e72ed;
  --light-blue: #3e72ed;
  --red: #D22B2B;
}

body {
  background-color: var(--night);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  background-image: url('./images/bobux1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #404040;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logoimage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 29px -2px #000000;
  box-shadow: 0px 0px 29px -2px #000000;
}

.mainform {
  padding: 20px;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 29px -2px #000000;
  box-shadow: 0px 0px 29px -2px #000000;
  max-width: 500px;
}

.imagearea {
  text-align: center;
}

.logoimage, .title {
  display: inline-block !important;
  vertical-align: middle;
}

.title {
  color: var(--light);
  font-size: 22px;
  margin-left: 10px;
}

.description {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 20px;
  color: var(--light);
  font-size: 17px;
  margin-bottom: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px;
  background-color: var(--green);
}

.input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 17px;
}

input[type=text] {
  -webkit-appearance: none;
  width: -moz-calc(100% - 16px);
  width: -webkit-calc(100% - 16px);
  width: -o-calc(100% - 16px);
  width: calc(100% - 16px);
  border: none;
  border-bottom: 3px solid var(--blue) !important;
  background-color: var(--dark);
  color: var(--light);
  transition: 0.3s;
}

input[type=text]:focus {
  border-radius: 5px;
  border: 1px solid var(--blue);
  outline-width: 0;
}

.button {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  background: none;
  color: var(--light);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  border: 1px solid var(--light);
  border-radius: 5px;
  width: 100%;
}

.button:hover {
  background: var(--green);
  border: 1px solid var(--dark);
}

header{
	margin: 0 auto;
}
